body{
    font-family:sans-serif;
}
.container{
    width:300px;
    margin:0 auto;
    padding: 20px;
    border: 1px solid #ccc;
}
header nav ul{
    list-style: none;
    padding:0;
}
header nav ul{
    display: inline;
    margin-right: 20px;
}